html, body {
  margin: 0;
  background-color: #eee;
  height: 100%;
}

a {
  color: mediumblue;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, tr {
  vertical-align: top;
  text-align: left;
}

/* via https://css-tricks.com/aspect-ratio-boxes */
[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {  
  height: auto;
} 
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}
