html, body {
  margin: 0;
  background-color: #eee;
  height: 100%;
}

a {
  color: mediumblue;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, tr {
  vertical-align: top;
  text-align: left;
}

.link--dashed {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-position: under;
}
