html, body {
  width: 100vw;
  height: 100vh;
  background: #eee;
  margin: 0;
}

.status_ready {
  color: orange;
  animation: blink 0.5s cubic-bezier(.5, 0, 1, 1) infinite;
}

.status_active {
  color: red;
}

@keyframes blink {
  0% { opacity: 0.2 }
  50% { opacity: 1 }
  100% { opacity: 0.2 }
}
