<div class="ma4">
  <small class="lh-copy helvetica black-40">
    Server Time:
    <%= format(new Date(), 'd MMM, E hh:mm a') %>
    <%= Intl.DateTimeFormat().resolvedOptions().timeZone %>
  </small>
</div>
<script src="/js/stimulus.umd.js"></script>
<script src="/js/index.js"></script>
<%- include('livereload') %>
</body>
</html>
