<!--
<div class="container px-3 md:p-8 my-6 md:my-0 pb-8">
  <div class="opacity-75 tracking-wider text-purple-100 text-xs">
    Server Time:
    <%= format(new Date(), 'd MMM, E hh:mm a') %>
    <%= Intl.DateTimeFormat().resolvedOptions().timeZone %>
  </div>
</div>
-->

<script src="/js/stimulus.umd.js"></script>
<script src="/js/index.js" type="module"></script>
<% if (process.env.NODE_ENV !== 'production') { %>
  <%- include('livereload') %>
<% } %>
</body>
</html>
