<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%
  if (
    req.url.endsWith('/monitor') || 
    // req.url.endsWith('/slater') ||
    req.url.endsWith('/settings') ||
    req.url.endsWith('/status') ||
    req.url.endsWith('/shots')
  ) {
  %>
    <link rel="stylesheet" href="/css/app-old.css">
  <% } else { %>
    <link rel="stylesheet" href="/css/app.css">
  <% } %>

  <title>Shot Core</title>  
</head>
<body>
