<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%
  if (
    req.url == '/' ||
    req.url == '/projects/1' ||
    req.url == '/projects/1/scenes' ||
    req.url.startsWith('/projects/1/scenes/1')
  ) {
  %>
    <link rel="stylesheet" href="/css/app.css">
  <% } else { %>
    <link rel="stylesheet" href="/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/app-old.css">
  <% } %>

  <title>Shot Core</title>  
</head>
<body>
