<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">
    <h1 class="f3 ma0 mb4">
      Home
    </h1>

    <h2 class="f4 mv3">Projects</h2>
    <% for (let project of projects) { %>
    <a href="/projects/<%= project.id %>"><%= project.name %></a><br />
    <% } %>
  </div>
</div>
<%- include('footer') -%>
