<%- include('header') %>
<div class="helvetica">
  <div class="pa4 lh-copy">
    <h1 class="f3 ma0 mb4">
      Home
    </h1>
    <h2 class="f4 mv3">Projects</h2>
    <ul>
      <li>
        <a href="/projects/1">Example Multi-Scene Project</a>
      </li>
    </ul>
  </div>
</div>
<%- include('footer') -%>
