<%- include('header') %>

<!-- monitor: schedule -->
<div class="helvetica pa0 ma0 bg-black white h-100 lh-solid flex w-100 f5 ph4 pb4">
  <div class="flex flex-column w-50 h-100 justify-between pr2 pt4">

    <div class="flex justify-around items-center h4">
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Scene</div>
        <div class="f-headline ma0"><b>1</b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Shot</div>
        <div class="f-headline ma0"><b>20</b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Take</div>
        <div class="f-headline ma0"><b>3</b></div>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="flex flex-column">
        <div class="ttu tracked f7 dark-gray">Storyboard</div>
        <figure>
          <img src="" />
        </figure>
      </div>
      <div class="flex flex-column">
        <div class="h-50">
          <div class="ttu tracked f7 dark-gray">Previous Shot</div>
          <figure>
            <img src="" />
          </figure>
        </div>
        <div class="h-50">
          <div class="ttu tracked f7 dark-gray">Next Shot</div>
          <figure>
            <img src="" />
          </figure>
        </div>
      </div>
    </div>

    <div class="flex justify-between">
      <div>
        <span class="ttu tracked f7 dark-gray">Live Camera</span>
      </div>
      <div>
        <span class="ttu tracked f7 dark-gray">Shot Diagram</span>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="lh-copy">
        <span class="ttu">ACTION:</span> Looks towards the camera.<br />
        <span class="ttu">DIALOGUE:</span> Oh hey I didn’t see you there.
      </div>
      <div class="lh-copy">
        Medium, Low Angle
      </div>
      <div>
        50mm<br />
        f/5.6<br />
      </div>
      <div class="flex flex-column">
        <div class="ttu tracked f7 dark-gray">Duration</div>
        <div>1m30s</div>
      </div>
    </div>

    <div class="flex justify-between" style="height: 125px">
      <div class="flex flex-column">
        <div class="ttu tracked f7 dark-gray">Audio Status</div>
      </div>
      <div class="flex flex-column">
        <div class="ttu tracked f7 dark-gray">Camera Status</div>
        <div></div>
      </div>
      <div class="flex flex-column">
        <div class="ttu tracked f7 dark-gray">Track Status</div>
        <div></div>
      </div>
    </div>

  </div>

  <div class="flex flex-column w-50 h-100 pl5 pt4 relative">
    <div class="absolute" style="right: 0">
      <div class="ttu tracked f7 dark-gray">
        Shot Core Monitor / Schedule
      </div>
    </div>

    <div class="flex flex-column justify-center h4">
      <div class="w-100">
        <div class="f7 mb1">
          Thursday, March 1, 2020
        </div>
        <div class="flex justify-between">
          <div class="flex items-baseline">
            <div class="f1 fw9 ttu">
              Day 1
            </div>
            <div class="f4 dark-gray ml2">
              / 24
            </div>
          </div>
          <div class="f1 b">
            1:45
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 pb4">
      <div class="tc">
        Time
      </div>
      <div class="bg-blue">
        Chart
      </div>
      <div class="flex justify-end items-center relative">
        <div class="absolute" style="left: 50%; top: 50%; transform: translate(-50%,-50%)">
          +15m ahead of schedule
        </div>
        -4h25m
      </div>
    </div>

    <div class="w-100 pb4">
      <div class="tc">
        Shots
      </div>
      <div class="bg-blue">
        Chart
      </div>
      <div class="flex justify-between">
        <div class="flex">
          6 shots complete
        </div>
        <div class="flex flex-row">
          <div>
            <b>23 shots left</b>
          </div>
          <div>
            est. 4h10m
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-around pb4">
      <div class="flex flex-column items-center">
        <div class="tc">Average Take Setup</div>
        <div class="relative">
          2m03s
          <div class="absolute dark-gray" style="top: 0; left: 100%">-23s</div>
        </div>
      </div>
      <div class="flex flex-column items-center">
        <div class="tc">Average Shot Setup</div>
        <div class="relative">
          5m12s
          <div class="absolute dark-gray" style="top: 0; left: 100%">-33s</div>
        </div>
      </div>
      <div class="flex flex-column items-center">
        <div class="tc">Average Take Count</div>
        <div class="relative">
          5
          <div class="absolute dark-gray" style="top: 0; left: 100%">-2</div>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-center relative">
      <div class="absolute w2 tr" style="left: -3rem;">
        <div class="ttu tracked f7 dark-gray"><b>+1</b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Scene</div>
        <div class=""><b>1</b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Shot</div>
        <div class=""><b>2</b></div>
      </div>
      <div>
        Thumbnail
      </div>
      <div class="f6 lh-copy">
        <span class="ttu">Action:</span><br/>
        <span class="ttu">Dialogue:</span><br/>
      </div>
      <div class="f6 lh-copy">
        Medium, Low Angle
      </div>
      <div>
        50mm<br />
        f/5.6<br />
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Duration</div>
        <div class=""><b>1m30s</b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7 dark-gray">1:50 +9m</div>
      </div>
    </div>
  </div>
</div>

<script src="/js/stimulus.umd.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
