<%- include('header') %>

<!-- monitor: schedule -->
<div class="helvetica pa0 ma0 bg-black white h-100 lh-solid flex w-100 f5">
  <div class="flex flex-column w-50 h-100 justify-between">

    <div class="flex justify-between">
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Scene</div>
        <div class="f1 ma0"><b>1</b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Shot</div>
        <div class="f1 ma0"><b>20</b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Take</div>
        <div class="f1 ma0"><b>3</b></div>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="flex flex-column">
        <div class="ttu tracked f7 dark-gray">Storyboard</div>
        <figure>
          <img src="" />
        </figure>
      </div>
      <div class="flex flex-column">
        <div class="h-50">
          <div class="ttu tracked f7 dark-gray">Previous Shot</div>
          <figure>
            <img src="" />
          </figure>
        </div>
        <div class="h-50">
          <div class="ttu tracked f7 dark-gray">Next Shot</div>
          <figure>
            <img src="" />
          </figure>
        </div>
      </div>
    </div>

    <div class="flex justify-between">
      <div>
        <span class="ttu tracked f7 dark-gray">Live Camera</span>
      </div>
      <div>
        <span class="ttu tracked f7 dark-gray">Shot Diagram</span>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="lh-copy">
        <span class="ttu">ACTION:</span> Looks towards the camera.<br />
        <span class="ttu">DIALOGUE:</span> Oh hey I didn’t see you there.
      </div>
      <div>
        Medium, Low Angle
      </div>
      <div>
        50mm<br />
        f/5.6<br />
      </div>
      <div class="flex flex-column">
        <div class="ttu tracked f7 dark-gray">Duration</div>
        <div>1m30s</div>
      </div>
    </div>

    <div class="flex justify-between" style="height: 125px">
      <div class="flex flex-column">
        <div class="ttu tracked f7 dark-gray">Audio Status</div>
      </div>
      <div class="flex flex-column">
        <div class="ttu tracked f7 dark-gray">Camera Status</div>
        <div></div>
      </div>
      <div class="flex flex-column">
        <div class="ttu tracked f7 dark-gray">Track Status</div>
        <div></div>
      </div>
    </div>

  </div>

  <div class="flex flex-column w-50 h-100 justify-between">
    <div class="flex justify-end">
      <div class="ttu tracked f7 dark-gray">
        Shot Core Monitor / Schedule
      </div>
    </div>

    <div class="ttu tracked f7">
      Thursday, March 1, 2020
    </div>

    <div class="flex justify-between">
      <div>
        Day 1 / 24
      </div>
      <div>
        1:45
      </div>
    </div>

    <div class="w-100 tc">
      Time
    </div>
    <div class="w-100">
      Chart
    </div>
    <div class="flex justify-end items-center relative w-100">
      <div class="absolute" style="left: 50%; top: 50%; transform: translate(-50%,-50%)">
        +15m ahead of schedule
      </div>
      -4h25m
    </div>

    <div class="w-100 tc">
      Shots
    </div>
    <div class="w-100">
      Chart
    </div>
    <div class="flex justify-between">
      <div class="flex">
        6 shots complete
      </div>
      <div class="flex flex-row">
        <div>
          <b>23 shots left</b>
        </div>
        <div>
          est. 4h10m
        </div>
      </div>
    </div>

    <div class="flex justify-around">
      <div class="flex flex-column items-center">
        <div>Average Take Setup</div>
        <div class="relative">
          2m03s
          <div class="absolute dark-gray" style="top: 0; left: 100%">-23s</div>
        </div>
      </div>
      <div class="flex flex-column items-center">
        <div>Average Shot Setup</div>
        <div class="relative">
          5m12s
          <div class="absolute dark-gray" style="top: 0; left: 100%">-33s</div>
        </div>
      </div>
      <div class="flex flex-column items-center">
        <div>Average Take Count</div>
        <div class="relative">
          5
          <div class="absolute dark-gray" style="top: 0; left: 100%">-2</div>
        </div>
      </div>
    </div>

    <div class="flex justify-between h-100">
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Scene</div>
        <div class=""><b>1</b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Shot</div>
        <div class=""><b>2</b></div>
      </div>
      <div>
        Thumbnail
      </div>
      <div>
        Action<br/>
        Dialogue<br/>
      </div>
      <div>
        Medium, Low Angle
      </div>
      <div>
        50mm<br />
        f/5.6<br />
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7">Duration</div>
        <div class=""><b>1m30s</b></div>
      </div>
      <div class="flex flex-column items-center">
        <div class="ttu tracked f7 dark-gray">1:50 +9m</div>
      </div>
    </div>
  </div>
</div>

<script src="/js/stimulus.umd.js"></script>
<script src="/js/index.js"></script>
</body>
</html>
