<%- include('header') %>
<div class="helvetica">
  <div class="pa4 lh-copy">
    <h1 class="f3 ma0 mb4">
      <a href="/">Home</a> /
      Example Multi-Scene Project
    </h1>
    <h2 class="f4 mv3">Schedules</h2>
    <table>
      <tr>
        <td>
          <a href="/projects/1/schedules/20200128">28 Jan, Tue</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/projects/1/schedules/20200129">29 Jan, Wed</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/projects/1/schedules/20200130">30 Jan, Thu</a>
        </td>
      </li>
    </table>
  </div>
</div>
<%- include('footer') -%>
