<%- include('header') %>
<div class="helvetica">
  <div class="pa4 lh-copy">
    <h1 class="f3 ma0 mb4">
      <a href="/">Home</a> /
      Example Multi-Scene Project
    </h1>

    <h2 class="f4 mv3">Schedules</h2>
    <table>
      <% for (day of days) { %>
      <tr>
        <td>
          <a href="/projects/1/schedules/<%= format(day.date, 'yyyy-MM-dd') %>">
            <%= format(day.date, 'd MMM, E') %>
          </a>
        </td>
      </tr>
      <% } %>
    </table>
  </div>
</div>
<%- include('footer') -%>
