<%- include('header') %>
<div class="helvetica">
  <div class="pa4 lh-copy">
    <h1 class="f3 ma0 mb4">
      <a href="/">Home</a> /
      <a href="/projects/1">Example Multi-Scene Project</a> /
      <br/>
      Schedule for <%= format(utcToZonedTime(startDate, 'America/New York'), 'EEEE, dd MMM yyyy') %>
    </h1>
    <h2 class="f4 mv3">Schedule</h2>
    <table>
      <tr>
        <td>
          Shot 5
        </td>
        <td>
          <table>
            <tr>
              <td>
                <a href="/projects/1/scenes/1/shots/5/takes/1">Take #1</a>
              </td>
            </tr>
            <tr>
              <td>
                Take 2
              </td>
            </tr>
            <tr>
              <td>
                Take 3
              </td>
            </tr>
            <tr>
              <td>
                <a href="#">New Take</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>Shot 6</td>
      </tr>
      <tr>
        <td>Shot 7</td>
      </tr>
      <tr>
        <td>Shot 8</td>
      </tr>
      <tr>
        <td>Break for Lunch</td>
      </tr>
      <tr>
        <td>Shot 1</td>
      </tr>
      <tr>
        <td>Shot 3</td>
      </tr>
      <tr>
        <td>Shot 4</td>
      </tr>
      <tr>
        <td>Shot 2</td>
      </tr>
    </tabl>
  </div>
</div>
<%- include('footer') -%>
