<%- include('header') %>
<div class="helvetica ph3 pa4-ns mv3 ma0-ns">
  <div class="lh-copy">
    <h1 class="f3 ma0 mb4">
      <a href="/">Home</a> /
      <a href="/projects/1">Example Multi-Scene Project</a> /
      <br />
      Scene 1 / Shot 1 /
      <br />
      Take 1
    </h1>
    <div>
      From <a href="/projects/1/schedules/2020-01-28">28 Jan, Tue</a> at 01:48 PM EST
    </div>

    <h2 class="f4 mv3">Media</h2>
    <table>
      <tr>
        <td>
          Video Preview File
        </td>
      </tr>
      <tr>
        <td>
          Audio Channels Files
        </td>
      </tr>
    </table>
  </div>
</div>
<%- include('footer') -%>
