<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shot Core Server HTML Template</title>
  <link rel="stylesheet" href="/css/template.css">
</head>
<body>



  <div class="flex flex-col justify-center w-full py-12">
    <div class="font-bold text-8xl text-center mb-2 text-purple-100">
      Shot Core
    </div>
    <div class="font-bold uppercase text-5xl leading-tight text-purple-400 text-center">
      Interface Design
    </div>
  </div>

  <div class="px-8 mb-6 space-y-4">
    <nav class="text-purple-600 uppercase text-xxs flex justify-end">
      <ul class="flex">
        <li class="mr-6">
          <a href="#">
            Schedule
          </a>
        </li>
        <li class="mr-6">
          <a href="#">
            Scenes
          </a>
        </li>
        <li class="mr-6">
          <a href="#">
            Shots
          </a>
        </li>
        <li class="mr-6">
          <a href="#">
            Takes
          </a>
        </li>
        <li class="mr-6">
          <a href="#">
            Monitor
          </a>
        </li>
        <li class="mr-6">
          <a href="#">
            Slater
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="px-8 mb-6 space-y-4 text-purple-100">
    <div>
      <div class="text-2xl uppercase text-purple-400 leading-none tracking-wide">
        Production
      </div>
      <div class="text-8xl font-bold uppercase leading-none -mt-2 tracking-tight text-shadow">
        Explorers
      </div>
    </div>

    <div>
      <div class="text-2xl uppercase text-purple-600 leading-none">
        Shot List
      </div>
      <div class="text-7xl font-bold leading-none tracking-tight text-shadow">
        1,345 Shots
      </div>
    </div>

    <div class="py-3">
      <div class="text-xxs uppercase text-purple-600 leading-none tracking-tighter">
        Production
      </div>
      <div class="text-2xl font-bold text-purple-400 uppercase leading-none">
        Explorers
      </div>
    </div>

    <table class="table table-auto border-collapse w-full">
      <thead class="text-xxs leading-tight uppercase font-normal text-purple-600">
        <tr>
          <th>
            Scene
          </th>
          <th>
            Title
          </th>
          <th>
            Slugline
          </th>
          <th>
            Shots
          </th>
          <th>
            Duration
          </th>
          <th>
            Takes
          </th>
        </tr>
      </thead>
      <tbody class="text-xs leading-tight">
        <% for (let i = 0; i < 12; i++) { %>
          <tr>
            <td>
              <b>1</b>
            </td>
            <td>
              <b>Jimmy wakes up from a nap.</b>
            </td>
            <td>
              INT. BEDROOM – NIGHT
            </td>
            <td>
              20
            </td>
            <td>
              1:15
            </td>
            <td>
              45 takes
            </td>
          </tr>
          <tr>
            <td colspan="1"></td>
            <td colspan="5">
              <div class="grid grid-cols-9 gap-3px pb-6">
                <% for (let i = 0; i < 12; i++) { %>
                  <div class="relative" style="padding-bottom: <%= 1 / (16 / 9) * 100 %>%">
                    <img
                      class="thumbnail-o absolute h-full w-full object-cover"
                      src="/uploads/projects/1/storyboards/Scene-1-EXT-A-PLACE-DAY-1-ZX3ZM/images/board-2-ZU9S1-thumbnail.png"
                    />
                  </div>
                <% } %>
              </div>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <div class="px-8 space-y-4 text-purple-100 tracking-wide">
    <p>
      This is a paragraph of normal text at the default font size.
    </p>

    <p class="text-xxs">
      text-xxs 9px The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-xs">
      text-xs 12px The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-sm">
      text-sm 14px The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-base">
      text-base 16px The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-lg">
      text-lg 18px The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-xl">
      text-xl The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-2xl">
      text-2xl 24px The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-3xl">
      text-3xl The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-4xl">
      text-4xl The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-5xl">
      text-5xl 48px The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-6xl">
      text-6xl The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-7xl">
      text-7xl 72px The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>

    <p class="text-8xl">
      text-8xl 144px The quick brown fox jumped over the lazy dog. The quick brown fox jumped over the lazy dog.
    </p>
  </div>



<% if (process.env.NODE_ENV !== 'production') { %>
  <%- include('livereload') %>
<% } %>
</body>
</html>
