<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shot Core Server HTML Template</title>
  <link rel="stylesheet" href="/css/template.css">
</head>
<body>

  <div>
    <h1 class="h1">
      Shot Core
    </h1>
    <h2 class="h2">
      Interface Design
    </h1>
  </div>

<% if (process.env.NODE_ENV !== 'production') { %>
  <%- include('livereload') %>
<% } %>
</body>
</html>
