@import "tailwindcss/base";

@font-face {
  font-family: THICCCBOI;
  font-weight: normal;
  src: url(/fonts/THICCCBOI-Regular.woff2) format("woff2");
}

@font-face {
  font-family: THICCCBOI;
  font-weight: bold;
  src: url(/fonts/THICCCBOI-Bold.woff2) format("woff2");
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

.text-xxs {
  letter-spacing: 0.05rem;
}
.text-xs {
  letter-spacing: 0.04rem;
}
.text-sm {
  letter-spacing: 0.01rem;
}
.text-5xl,
.text-6xl,
.text-7xl {
  letter-spacing: -0.04rem;
}

.text-shadow {
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.14);
}

.gap-3px {
  gap: 3px;
}
.mr-6px {
  margin-right: 6px;
}

.table td {
  vertical-align: top;
  padding-right: 0.5rem;
}
.table td:last-child {
  padding-right: 0;
}
.table th {
  text-align: left;
}
.table th.text-center {
  text-align: center;
}
.table th.text-right {
  text-align: right;
}
.table th {
  padding-bottom: 0.5rem;
}
.table tr td {
  padding-top: 0.5rem;
}
.table tr:first-child td {
  padding-top: 0.6rem;
}
.table tbody tr:first-child {
  @apply border-solid border-t border-purple-600;
}

.blend-mode-overlay {
  mix-blend-mode: overlay;
}

html, body {
  height: 100vh;
}

body {
  font-family: THICCCBOI;
  background: #3E2696;
  color: #ffffff;
  @apply leading-normal;
}

body:after {
  content: '';

  position: absolute;
  width: 100%;
  height: 687px;
  left: 0px;
  top: 0px;
  z-index: -1;

  background: linear-gradient(
    180deg,
  rgba(0, 0, 0, 0.5) 0%, 
  rgba(0, 0, 0, 0) 100%
  );
}

.h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 144px;
  line-height: 166px;
  letter-spacing: -0.04rem;
  color: #FFFFFF;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.14);
  margin: 0;
}

.h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: -0.04rem;
  color: #AB94FF;
  text-transform: uppercase;
  margin: 0;
}
