<%- include('../header') %>

<div class="container px-3 md:p-8 my-6 md:my-0 text-purple-100 mx-auto">
  <div class="max-w-screen-sm mx-auto">
    <div class="my-24 mb-12">
      <h3 class="text-5xl md:text-7xl font-bold leading-none tracking-tight text-shadow">
        New Project
      </h3>
    </div>

    <div>
      <form action="/projects" enctype="multipart/form-data" method="POST">
        <!-- NOTE project name field is not currently used -->
        <div class="hidden">
          <label for="name">Project Name</label>
          <input type="text" id="name" name="name" />
        </div>

        <div class="mb-8 px-1">
          <label
            class="text-md block leading-relaxed"
            for="file"
          >Upload a Storyboarder export .ZIP</label>
        </div>

        <div class="mt-4 mb-16 h-4 pa-4 flex items-center justify-center">
          <input
            class="shadow appearance-none rounded w-full py-4 px-3 mb-3 leading-tight bg-purple-900 text-purple-400"
            type="file"
            accept=".zip"
            id="file"
            name="file" />
        </div>
        
        <div class="mb-8">
          <button class="
            inline-block px-8 py-4
            border-4 rounded-lg
            
            text-lg leading-tight font-bold tracking-wide

            bg-purple-900 border-white-o
            hover:bg-orange-500 hover:border-yellow-o
            fadein
            
            box-shadow
          ">
            Create Project
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function preventDefault (event) {
    event.preventDefault()
    event.stopPropagation()
  }

  function onChange () {
    if (nameInput.value.length == 0) {
      if (fileInput.files.length) {
        nameInput.value = fileInput.files[0].name.replace(/\.zip/i, '')
      }
    }
  }

  let form = document.querySelector('form')
  let fileInput = document.querySelector('input[type="file"]')
  let nameInput = document.querySelector('input[type="text"]')

  ;(['drag', 'dragstart', 'dragend', 'dragover', 'dragenter', 'dragleave', 'drop']).forEach(
    type => form.addEventListener(type, preventDefault)
  )
  form.addEventListener('drop', event => {
    if (event.dataTransfer.files.length) {
      fileInput.files = event.dataTransfer.files
      onChange()
    }
  })
  fileInput.addEventListener('change', onChange)
</script>

<%- include('../footer') -%>
